Repository danielvollbro/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kubeconform, terraform_validate

.gitlab/ci/kubeconform.yml:

---
kubeconform:
  stage: validate
  image:
    name: ghcr.io/yannh/kubeconform:latest-alpine
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - gitops/**/*
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - gitops/**/*
  script:
    - /kubeconform
      -summary
      -schema-location default
      -schema-location 'https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json'
      -ignore-missing-schemas
      -ignore-filename-pattern gitops/flux/infrastructure/controllers/base/democratic-csi-iscsi.yaml
      gitops/

.gitlab/ci/terraform.yml:

---
variables:
  TF_PLUGIN_CACHE_DIR: "$CI_PROJECT_DIR/.terraform.d/plugin-cache"

cache:
  key: "terraform-plugins-v1"
  paths:
    - .terraform.d/plugin-cache

terraform_validate:
  stage: validate
  image:
    name: hashicorp/terraform:1.14
    entrypoint: [""]

  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes: &tf_changes
        - infrastructure/**/*.tf
        - infrastructure/**/*.hcl
        - infrastructure/**/*.tfvars
    - if: $CI_COMMIT_BRANCH == "main"
      changes: *tf_changes
    - if: $CI_PIPELINE_SOURCE == "web"

  parallel:
    matrix:
      - TF_ROOT:
          - infrastructure/01-hypervisors/01-bootstrap_cluster
          - infrastructure/01-hypervisors/02-srv01
          - infrastructure/01-hypervisors/03-srv02
          - infrastructure/02-platforms/k8s-prod
          - infrastructure/02-platforms/truenas
          - infrastructure/02-platforms/streaming-gaming-pc
  script:
    - echo "Validating $TF_ROOT..."
    - cd $TF_ROOT
    - terraform init -backend=false
    - terraform validate

fix: v1beta2 HelmRepository is deprecated, upgrading to v1
  gitops/flux/apps/overlays/prod/gitlab/gitlab-repo.yaml
  gitops/flux/infrastructure/controllers/base/democratic-csi-repo.yaml
  gitops/flux/infrastructure/controllers/base/emberstack-repo.yaml
  gitops/flux/infrastructure/controllers/base/jetstack-repo.yaml
Due: kubeconform

fix: empty runner-registration-token to prevent missing secret error
  gitops/flux/apps/overlays/prod/gitlab/secrets/gitlab-runner-secret.yaml
Due: kubeconform

fix: streaming-gaming-pc has changed name to main-windows
  .gitlab/ci/terraform.yml
Due: none

refactor: changed name on windows main pc
  infrastructure/02-platforms/main-windows/.terraform.lock.hcl
  infrastructure/02-platforms/main-windows/backend.tf
  infrastructure/02-platforms/main-windows/main.tf
  infrastructure/02-platforms/main-windows/providers.tf
  infrastructure/02-platforms/main-windows/variables_proxmox.tf
  infrastructure/02-platforms/main-windows/versions.tf
Due: terraform_validate

refactor: gryffindor is now called srv01
  infrastructure/01-hypervisors/02-srv01/locals.tf
  infrastructure/02-platforms/k8s-prod/main.tf
  infrastructure/02-platforms/truenas/main.tf
  infrastructure/modules/platform/talos_cluster/main.tf
Due: terraform_validate

fix: kubernetes_secret is depricated, using kubernetes_secret_v1 instead
  infrastructure/modules/platform/flux_bootstrap/main.tf
Due: terraform_validate

refactor: ravenclaw is now called srv02
  infrastructure/01-hypervisors/03-srv02/locals.tf
  infrastructure/02-platforms/streaming-gaming-pc/main.tf
Due: terraform_validate

chore: free unused allocated resources from truenas
  infrastructure/02-platforms/truenas/main.tf
Due: terraform_validate

feat: added staging cluster infrastructure
  infrastructure/02-platforms/k8s-staging/.keep
  infrastructure/02-platforms/k8s-staging/.terraform.lock.hcl
  infrastructure/02-platforms/k8s-staging/backend.tf
  infrastructure/02-platforms/k8s-staging/main.tf
  infrastructure/02-platforms/k8s-staging/outputs.tf
  infrastructure/02-platforms/k8s-staging/providers.tf
  infrastructure/02-platforms/k8s-staging/variables_cloudflare.tf
  infrastructure/02-platforms/k8s-staging/variables_github.tf
  infrastructure/02-platforms/k8s-staging/variables_network.tf
  infrastructure/02-platforms/k8s-staging/variables_proxmox.tf
  infrastructure/02-platforms/k8s-staging/variables_talos.tf
  infrastructure/02-platforms/k8s-staging/variables_truenas.tf
  infrastructure/02-platforms/k8s-staging/versions.tf
Due: terraform_validate

refactor: updated modules to support multi talos clusters
  infrastructure/modules/compute/iso_file/main.tf
  infrastructure/modules/compute/iso_file/variables.tf
  infrastructure/modules/platform/flux_bootstrap/flux_definitions.tf
  infrastructure/modules/platform/flux_bootstrap/main.tf
  infrastructure/modules/platform/flux_bootstrap/variables.tf
  infrastructure/modules/platform/talos_cluster/main.tf
  infrastructure/modules/platform/talos_cluster/output.tf
  infrastructure/modules/platform/talos_cluster/variables_cluster.tf
Due: terraform_validate

refactor: updated prod configuration after latest changes
  infrastructure/02-platforms/k8s-prod/main.tf
Due: terraform_validate

refactor: updated staging configuration after latest changes
  infrastructure/02-platforms/k8s-staging/main.tf
Due: terraform_validate

docs: updated documentations
  docs/01-adr/ADR-002-cilium-networking.md
  docs/01-adr/ADR-003-iscsi-storage.md
  docs/01-adr/ADR-004-sops-secret-management.md
  docs/01-adr/ADR-005-dns01-certificates.md
  docs/01-adr/ADR-006-separate-prod-staging-cluster.md
  docs/02-networks/vlans/vlan-50-servers.md
  docs/03-compute/virtualization/proxmox-vm-strategy.md
  docs/05-platforms/gitops/repository-structure.md
Due: none

fix: added separation in vm name
  infrastructure/modules/platform/talos_cluster/main.tf
Due: terraform_validate

feat: added flux configuration for staging
  gitops/flux/infrastructure/controllers/overlays/prod/cilium-ip-pool.yaml
  gitops/flux/infrastructure/controllers/overlays/staging/cilium-ip-pool.yaml
  gitops/flux/infrastructure/controllers/overlays/staging/cilium-l2.yaml
  gitops/flux/infrastructure/controllers/overlays/staging/kustomization.yaml
  gitops/flux/infrastructure/controllers/overlays/staging/patch-ingress-service.yaml
  gitops/flux/infrastructure/controllers/overlays/staging/wildcard-certificate.yaml
Due: kubeconform

feat: added staging to ci pipeline
  .gitlab/ci/checkov.yml
  .gitlab/ci/terraform.yml
Due: none

Add Flux v2.7.5 component manifests
  gitops/flux/clusters/staging/flux-system/gotk-components.yaml
Due: kubeconform

Add Flux sync manifests
  gitops/flux/clusters/staging/flux-system/gotk-sync.yaml
  gitops/flux/clusters/staging/flux-system/kustomization.yaml
Due: kubeconform

Terraform: Manage infrastructure-controllers.yaml
  gitops/flux/clusters/staging/infrastructure-controllers.yaml
Due: kubeconform

Terraform: Manage apps.yaml
  gitops/flux/clusters/staging/apps.yaml
Due: kubeconform

Terraform: Manage infrastructure-configs.yaml
  gitops/flux/clusters/staging/infrastructure-configs.yaml
Due: kubeconform

fix: fix yamllint errors
  .yamllint.yaml
  gitops/flux/apps/overlays/prod/gitlab/gitlab-repo.yaml
  gitops/flux/infrastructure/controllers/base/democratic-csi-repo.yaml
  gitops/flux/infrastructure/controllers/base/emberstack-repo.yaml
  gitops/flux/infrastructure/controllers/base/jetstack-repo.yaml
Due: kubeconform

fix: forgott to update kustomization file
  gitops/flux/infrastructure/controllers/overlays/staging/kustomization.yaml
Due: kubeconform

fix: use main as flux branch
  infrastructure/02-platforms/k8s-staging/providers.tf
Due: terraform_validate

docs: changed network domain
  docs/02-networks/vlans/vlan-01-management.md
  docs/02-networks/vlans/vlan-10-main.md
  docs/02-networks/vlans/vlan-100-work.md
  docs/02-networks/vlans/vlan-15-kids.md
  docs/02-networks/vlans/vlan-20-guests.md
  docs/02-networks/vlans/vlan-30-iot.md
  docs/02-networks/vlans/vlan-35-not.md
  docs/02-networks/vlans/vlan-40-cameras.md
  docs/02-networks/vlans/vlan-50-servers.md
Due: none

docs: added docs for vpn
  docs/02-networks/firewall/firewall-policies.md
  docs/02-networks/vpn/remote-access.md
Due: none

fix: specified incorrect iommu_group
  infrastructure/01-hypervisors/03-srv02/pci_mapping.tf
Due: terraform_validate
